<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 mb-3 mb-md-0">
            <div class="form-group">
                <label for="todoItem">todoItem</label>
                <input type="text" #todoItem class="form-control">
            </div>

            <button *ngIf="!isInEditMode"
            (click)="onTodoAdd()"
            class="btn-block" mat-raised-button color="primary">Add Todo</button>
            
            <button *ngIf="isInEditMode"
            (click)="onUpdate()"
            class="btn-block" mat-raised-button color="primary">Update todo</button>
        </div>

        <div class="col-md-6">
            <ul class="list-group" *ngIf="todosArr.length > 0; else notodo">
                <li
                *ngFor="let todo of todosArr; trackBy:trackById"
                class="list-group-item d-flex justify-content-between align-items-center">
                    <strong>{{todo.todoItem}}</strong>
                    <div>
                        <button
                        (click)="onEdit(todo)"
                        mat-mini-fab color="primary" class="mr-2">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button
                        (click)="RemoveTodo(todo.todoId)"
                        mat-mini-fab color="warn">
                            <mat-icon>delete</mat-icon>
                        </button>

                    </div>
                </li>
            </ul>
            <ng-template #notodo>
                <p class="alert alert-warning"> No Todos ... !</p>
            </ng-template>
        </div>
    </div>
</div>